<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>remg</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>cust_add</servlet-name>
    <servlet-class>servlets.cust_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cust_add</servlet-name>
    <url-pattern>/servlets/cust_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cust_del</servlet-name>
    <servlet-class>servlets.cust_del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cust_del</servlet-name>
    <url-pattern>/servlets/cust_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cust_edit</servlet-name>
    <servlet-class>servlets.cust_edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cust_edit</servlet-name>
    <url-pattern>/servlets/cust_edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cust_search</servlet-name>
    <servlet-class>servlets.cust_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cust_search</servlet-name>
    <url-pattern>/servlets/cust_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cust_main</servlet-name>
    <servlet-class>servlets.cust_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cust_main</servlet-name>
    <url-pattern>/servlets/cust_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>meal_add</servlet-name>
    <servlet-class>servlets.meal_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>meal_add</servlet-name>
    <url-pattern>/servlets/meal_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>meal_del</servlet-name>
    <servlet-class>servlets.meal_del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>meal_del</servlet-name>
    <url-pattern>/servlets/meal_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>meal_search</servlet-name>
    <servlet-class>servlets.meal_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>meal_search</servlet-name>
    <url-pattern>/servlets/meal_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>meal_main</servlet-name>
    <servlet-class>servlets.meal_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>meal_main</servlet-name>
    <url-pattern>/servlets/meal_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>meal_edit</servlet-name>
    <servlet-class>servlets.meal_edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>meal_edit</servlet-name>
    <url-pattern>/servlets/meal_edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acti_add</servlet-name>
    <servlet-class>servlets.acti_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acti_add</servlet-name>
    <url-pattern>/servlets/acti_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acti_del</servlet-name>
    <servlet-class>servlets.acti_del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acti_del</servlet-name>
    <url-pattern>/servlets/acti_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acti_edit</servlet-name>
    <servlet-class>servlets.acti_edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acti_edit</servlet-name>
    <url-pattern>/servlets/acti_edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acti_search</servlet-name>
    <servlet-class>servlets.acti_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acti_search</servlet-name>
    <url-pattern>/servlets/acti_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acti_main</servlet-name>
    <servlet-class>servlets.acti_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acti_main</servlet-name>
    <url-pattern>/servlets/acti_main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>order_del</servlet-name>
    <servlet-class>servlets.order_del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order_del</servlet-name>
    <url-pattern>/servlets/order_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>order_search</servlet-name>
    <servlet-class>servlets.order_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order_search</servlet-name>
    <url-pattern>/servlets/order_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>order_main</servlet-name>
    <servlet-class>servlets.order_main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order_main</servlet-name>
    <url-pattern>/servlets/order_main</url-pattern>
  </servlet-mapping>
</web-app>